.player{
    margin: 0px 0;
    border: 0px;
}

.btn-xs:focus{
    outline: none;
}

.errorStyle{
    color: #ff551b;
}

#notificationNoNotes{
    text-align: center;
}

#comment {
    resize: none;
}

#hiddenIdRow {
    display: none;
}

#errorEmpty{
    color: red;
}

.archive:hover {
    background-color: lightgrey;
}

/*switch off scrollbar*/
#comment{
    overflow: hidden;
}

body {
    overflow-y: scroll;
}

.pagination li {
    display:inline-block;
}

.panel-group {
    margin-bottom: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.jumbotron {
    margin-bottom: 0px;
}

/*сдвиг placeholder вправо при фокусе*/
#workToDo::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workToDo::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workToDo:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workToDo:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workToDo:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#workToDo:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#workToDo:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#workToDo:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}

/*сдвиг placeholder вправо при фокусе*/
#time::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#time::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#time:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#time:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#time:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#time:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#time:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#time:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}

/*сдвиг placeholder вниз при фокусе*/
#comment::-webkit-input-placeholder       {line-height: 20px;  transition: line-height 0.5s ease;}
#comment::-moz-placeholder                {line-height: 20px;  transition: line-height 0.5s ease;}
#comment:-moz-placeholder                 {line-height: 20px;  transition: line-height 0.5s ease;}
#comment:-ms-input-placeholder            {line-height: 20px;  transition: line-height 0.5s ease;}
#comment:focus::-webkit-input-placeholder {line-height: 300px; transition: line-height 0.5s ease;}
#comment:focus::-moz-placeholder          {line-height: 300px; transition: line-height 0.5s ease;}
#comment:focus:-moz-placeholder           {line-height: 300px; transition: line-height 0.5s ease;}
#comment:focus:-ms-input-placeholder      {line-height: 300px; transition: line-height 0.5s ease;}

#workSearch::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workSearch::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workSearch:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workSearch:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#workSearch:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#workSearch:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#workSearch:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#workSearch:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}

#commentSearch::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#commentSearch::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#commentSearch:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#commentSearch:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#commentSearch:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#commentSearch:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#commentSearch:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#commentSearch:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}

#dateSearch::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}

#dateSearch2::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch2::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch2:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch2:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.3s ease;}
#dateSearch2:focus::-webkit-input-placeholder {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch2:focus::-moz-placeholder          {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch2:focus:-moz-placeholder           {text-indent: 700px; transition: text-indent 0.3s ease;}
#dateSearch2:focus:-ms-input-placeholder      {text-indent: 700px; transition: text-indent 0.3s ease;}